@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.theme {
  color: green;
  font-family: Irish Grover;
}
.theme:before, .theme:after {
  content: "☘️";
  padding: 0 0.5em;
}
